body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    /*background-image: url("image/pizza_back_4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;*/
    background-color: #fff;
}

.container {
    display: flex;
    height: 100vh; 
}
.sidebar {
    flex: 0 0 200px; 
    background-color: #0000005b;
    color: white;
    padding: 20px;
}
.content {
    flex: 1; 
    padding: 20px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 100px;
}
nav ul li {
    margin-bottom: 10px;
    margin-top: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
.hero {
    background-color: #e9da07;
    padding: 20px;
    border-radius: 5px;
}
.hero-content h1 {
    margin: 0;
    color: #000000;
}

.logo-container{
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
}

.logo { 
    width: 75px; 
    height: auto;
}

.logo-text {
    margin-left: 10px; 
    font-size: 14px;
    color: #ffffff; 
}

